body{
    display:flex ;

    align-items: flex-start;
}



.blue{
padding: 100px;

background-color: rgb(62, 146, 194);
}

.yo{

    padding: 75px;
    margin: 10px;
    background-color: rgb(216, 182, 32);
}

.red{


    padding-right: 250px;
    background-color: rgb(204, 172, 28);
}

.flex{


display: flex;

}